root = true

[*]
dotnet_analyzer_diagnostic.severity = error
dotnet_analyzer_diagnostic.category-Performance.severity = none
dotnet_analyzer_diagnostic.category-Style.severity = none
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1873.severity = none
dotnet_diagnostic.CA2254.severity = none
dotnet_separate_import_directive_groups = false
dotnet_sort_system_directives_first = true
